# For reading and writing ublox messages
ubxtranslator

# For more easily packing and unpacking bitstructs on various peripherals
bitstruct

# For connecting to peripherals
periphery

# For making NTRIP requests and others
aiohttp

# For parsing RTCM frames from NTRIP casters
pyrtcm
